.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: #f9fafb;
}

.featureSvg {
  height: 60px;
  width: 60px;
  color: #fbbf24;
  margin-bottom: 1rem;
}