.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: #000000;
  color: #FFE89C;
}

.featureSvg {
    height: 80px;
    width: 80px;
    color: #FAC61B;
    margin-bottom: 1rem;
  }