.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: #18181b;
  color: #ffffff;
}

.featureSvg {
    height: 80px;
    width: 80px;
    color: var(--ifm-color-primary);
    margin-bottom: 1rem;
  }