/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4a5568;
  --ifm-color-primary-dark: #3d4555;
  --ifm-color-primary-darker: #363c4a;
  --ifm-color-primary-darkest: #2d3238;
  --ifm-color-primary-light: #5d687b;
  --ifm-color-primary-lighter: #6b7589;
  --ifm-color-primary-lightest: #8895a8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a0aec0;
  --ifm-color-primary-dark: #8d9fb5;
  --ifm-color-primary-darker: #8194ab;
  --ifm-color-primary-darkest: #667a91;
  --ifm-color-primary-light: #b3bdcb;
  --ifm-color-primary-lighter: #bfc9d5;
  --ifm-color-primary-lightest: #dde3ea;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
